{% extends 'base.html.twig' %}

{% block title %}New Environnement{% endblock %}

{% block body %}
    <h1>Create new Environnement</h1>

    {{ include('admin_environnement/_form.html.twig') }}

    <a href="{{ path('app_admin_environnement_index') }}">back to list</a>
{% endblock %}
