{% extends 'base.html.twig' %}
{% block title %}Ajouter une visite{% endblock %}
{% block body %}
    <h1>Ajouter une visite</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_admin_visite_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
{% endblock %}